* {
    margin: 0%;
    padding: 0%;
}

#gameCanvasContainer {
    height: 100vh;
    width: 100%;
}

#usernameContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 20%;
    height: 4%;
}

#quitBtn {
    border: solid black 1px;
    width: 45%;
    height: 84%;
    left: 2%;
    position: relative;
    background-color: tomato;
    font-weight: bold;
    font-size: 100%;
    top: 10%;
    box-shadow: 0 0 0.1vh 0 rgba(0, 0, 0, 0.24), 0 0 0.1vh 0 rgba(0, 0, 0, 0.19);
}

#quitBtn:hover {
    box-shadow: 0 0 1vh 0 rgba(0, 0, 0, 0.24), 0 0 1vh 0 rgba(0, 0, 0, 0.19);
}

#usernameSection{
    background-color: white;
    position: absolute;
    padding-right: 5%;
    padding-left: 5%;
    width: fit-content;
    height: 80%;
    top: 10%;
    margin-left: 50%;
    text-align: center;
    border: solid black 1px;
    /*margin-left: 45%; */
    margin-left: calc(47% + 3px);
    display:flex;
    align-items: center; 
    justify-content: center; 
    box-shadow: 0 0 0.1vh 0 rgba(0, 0, 0, 0.24), 0 0 0.1vh 0 rgba(0, 0, 0, 0.19);
}