* {
    margin: 0%;
    padding: 0%;
}

#gameCanvasContainer {
    height: 100vh;
    width: 100%;
}

#usernameContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 20%;
    height: 4%;
}

#quitBtn {
    border: solid black 1px;
    width: 45%;
    height: 84%;
    left: 2%;
    position: relative;
    background-color: tomato;
    font-weight: bold;
    font-size: 100%;
    top: 10%;
    box-shadow: 0 0 0.1vh 0 rgba(0, 0, 0, 0.24), 0 0 0.1vh 0 rgba(0, 0, 0, 0.19);
}

#quitBtn:hover {
    box-shadow: 0 0 1vh 0 rgba(0, 0, 0, 0.24), 0 0 1vh 0 rgba(0, 0, 0, 0.19);
}

#usernameSection {
    background-color: white;
    position: absolute;
    padding-right: 5%;
    padding-left: 5%;
    width: fit-content;
    height: 80%;
    top: 10%;
    margin-left: 50%;
    text-align: center;
    border: solid black 1px;
    /*margin-left: 45%; */
    margin-left: calc(47% + 3px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.1vh 0 rgba(0, 0, 0, 0.24), 0 0 0.1vh 0 rgba(0, 0, 0, 0.19);
}

#obliteratedMessageContainer {
    visibility: hidden;
    position: absolute;
    top: 27.5%;
    left: 32.5%;
    height: 45vh;
    width: 35%;
    box-shadow: 0 0 0.1vh 0 rgba(0, 0, 0, 0.24), 0 0 0.1vh 0 rgba(0, 0, 0, 0.19);
    border: solid black 1px;
    background-color: white;
}

#obliteratedMessage1 {
    padding: 4%;
    font-weight: bold;
    display: table;
    margin: 0 auto;
}

#obliteratedMessage2 {
    display: table;
    margin: 0 auto;
    align-self: center;
    color: tomato;
    font-weight: bold;
    font-size: 300%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#obliteratedMessage3{
    padding: 4%;
    padding-top: 0%;
    font-weight: bold;
    display: table;
    margin: 0 auto;
}

#restartBtn {
    border: solid black 1px;
    width: 60%;
    height: 40%;
    left: 20%;
    position: absolute;
    background-color: tomato;
    font-weight: bold;
    font-size: 200%;
    top: 50%;
    box-shadow: 0 0 0.1vh 0 rgba(0, 0, 0, 0.24), 0 0 0.1vh 0 rgba(0, 0, 0, 0.19);
}

#restartBtn:hover {
    box-shadow: 0 0 1vh 0 rgba(0, 0, 0, 0.24), 0 0 1vh 0 rgba(0, 0, 0, 0.19);
}

#obliteratedFeedContainer{
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 1%;
    left: 1%;
}
.obliteratedFeed{
    width: fit-content;
    height: fit-content;
    display: table;
    margin: 0;
    text-align:right
}

.obliteratedFeed2{
    width: fit-content;
    height: fit-content;
    display: table;
    margin: 0;
    text-align:right;
    color: tomato;
}

#obliteratedFeedContainer{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 1%;
    right: 1%;
}

.obliteratedFeed{
    width: fit-content;
    height: fit-content;
    display: table;
}

.obliteratedFeedNumber{
    width: fit-content;
    height: fit-content;
    text-align:left;
    color: tomato;
}

.obliteratedFeedUsername{
    width: fit-content;
    height: fit-content;
    text-align:right;
    color: tomato;
}