* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.errorText {
  color: tomato;
  position: relative;
  box-sizing: border-box;
}

input:focus {
  outline-color: tomato;
  outline-style: auto;
  outline-width: 10px
}
